/* general ------------------------------------ */

body {
  background-color: lightblue;
}

li a {
  color: brown !important;
}

h1 {
  font-size: 200%;
  margin-bottom: 1em;
}
h2 {
  background-color: #87c9e0;
  font-size: 160%;
  margin-top: 1em;
  padding: 0.5em;
}
h3 {
  font-size: 120%;
}

a {
  color: yellow !important;
}
a:hover {
  color: orange !important;
}
table, th, tr {
  background: white !important;
}

main {
  min-height: 30em; /* avoid really short pages when there is no content (gallery) */
  padding: 2em 1.5em;
}

blockquote {
  font-size: 160%;
  font-weight: bold;
  padding: 2em 0 2em 0; /* four values = top, right, bottom, left (clockwise) */
}

/* header ------------------------------------- */

header {
  background-color: grey;

  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 25px;
  color: yellow;
  font-size: 15px;

  font-family: "Krona One", sans-serif;
}
.posh {
  font-size: 30px;
}

td, th {
  text-align: left !important;
  padding-left: 55px !important;
  padding-right: 55px !important;
}
tr:nth-child(odd) {
  background: grey !important;
}
table, tr {
  border: solid 1px grey;
}

#karben, #dave {
  color: brown !important;
}
#karben:active {
  color: brown;
}

/* Intro --------------------------------------------- */

.intro {
  background-color: #333;
  background-image: url("../imgs/chess.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
}

.navbar-brand {
  font-size: 160%;
}

.navbar-nav li a {
  background-color: #666;
  color: yellow !important;
  display: block;
  margin-bottom: 0.2em;
  margin-right: 0.2em;
  padding: 1em 3em;
  text-align: center;
}
.navbar-nav li a:hover {
  color: orange !important;
  text-decoration: none !important;
}

li a:hover {
  color: orange !important;
  text-decoration: none !important;
}

li.selected a, li.selected a:hover {
  color: white !important;
}

/* Page specific ----------------------------------- */

.about p {
  font-family: "Krona One", sans-serif;
}

.league-table th, .league-table td {
  text-align: center !important;
}

.fixtures {
  text-align: center;
}

.fixture-list {
  list-style-type: none;
  font-size: 1.4em;
  margin: 0;
  padding: 0;
}
.fixture-list li {
  margin: 1em 0;
}

.vlog {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* footer ------------------------------------------ */

.page-footer {
  border-top: 1px solid #87c9e0;
  color: #6799ab;
  font-size: 90%;
  padding: 1em;
  text-align: right;
}